# TODO: Add comments/docs for these.
.*\.py[co]
.*\.pyc-2.4
.*~
.*\.orig
.*\.swp
.*\#.*
.*@.*
._gae_py*
REVISION
.DS_Store
workspace.xml

# Python 3 virtual environment. Created with `python3 -m venv venv`.
venv/
